<!-- <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12" *ngIf="humWindData.length == 8" >
        <canvas
    baseChart
    [chartType]="'bar'"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [options]="chartOptions"
    
    ></canvas>
    
      </div>
    </div>
  </div>
   -->


<div class="col-md-6" *ngIf="humWindData.length == 8">

  <h1>tHI IS THE CHART</h1>

    <canvas
    baseChart
    [chartType]="'bar'"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [options]="chartOptions"
    
    ></canvas>

</div>
  