<!-- <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12" *ngIf="humWindData.length == 8" >
        <canvas
    baseChart
    [chartType]="'bar'"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [options]="chartOptions"
    
    ></canvas>
    
      </div>
    </div>
  </div>
   -->


<div class="card" *ngIf="humWindData.length == 8">
  <div class="card-body ">
      <canvas
      width="400"
      
      baseChart
      [chartType]="'bar'"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [options]="chartOptions"
    
    ></canvas>
  </div>
</div>





  