<div class="container my-md-4 my-xs-0">
  <div class="row">
    <div class="col-md-6" id="login-background">
    </div>
    <div class="col-md-6 my-md-auto  m-xs-0" id="login-with-background">
      <div class="card my-md-auto  m-xs-0 text-center">
        <div class="card-body">
          <h1 class="card-title mb-5">Login to Brisk</h1>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password"
                formControlName="password">
            </div>
            <p id="create-account" class="text-muted"  (click)="goToSignup()">Create an Account</p>
            <button type="submit" class="btn btn-lg btn-primary btn-block"><fa-icon [icon]="faSignInAlt"></fa-icon > Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <fa-icon [icon]="faMapMarkedAlt"></fa-icon > -->