@import "../../../styles/variables";

.card {
    border: none;
    .card-body {
        padding: 2em;
    }

    .form-control-lg {
        height: calc(1.5em + 3rem + 2px);
        margin-bottom: 2em;
    }
}

.row {
    height: 760px;

 
}

#login-background {
    background-image: url('../../../assets/images/login-photo-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    height: 100%;
}

#create-account {
    cursor: pointer;
}
