@import "../../../styles/variables";

.card {
    border: none;
    .card-body {
        padding: 2em;
    }

    .form-control-lg {
        height: calc(1.5em + 3rem + 2px);
        margin-bottom: 2em;
    }
}

.row {
    height: 760px;

    .col-md-6 {
        padding: 0;
    }
    
}

#login-background {
    background-image: url('../../../assets/images/login-photo-3.jpg');
    background-size: cover;
    border-radius: 10px;
}
