<div class="card " *ngIf="todaysWeather">
    <h1 class="card-title text-center">{{location.city}}, {{location.state}}</h1>
  <div class="card-body ">
    <div class="row justify-content-between">
      <div class="col-5">
        <h1 class="text-center">{{todaysWeather.temp | number : '1.0-0'}}<span class="">°F</span></h1>
        <h5 class="text-center">{{todaysWeather.summary | uppercase}}</h5>
      </div>
      <div class="col-5">
        <h5 class=""><fa-icon [icon]="faTint"></fa-icon> HUMIDITY: <span class="text-muted">{{todaysWeather.humidity*100 | number : '1.0-0'}}%</span> </h5>
        <hr>
        <h5 class=""><fa-icon [icon]="faFan"></fa-icon> WINDS: <span class="text-muted">{{todaysWeather.windSpeed | number : '1.0-0' }}MPH</span> </h5>
      </div>
    </div>
  </div>
</div>  