<div class="row ">
  <div class="col-md-6" id="cityWeather"  *ngIf="todaysWeather" >
    <div class="row">
      <div class="col-12 mt-5">
        <h1 class="text-center h1">{{todaysWeather.temp | number : '1.0-0'}}<span class="">°F</span></h1>
      </div>
      <div class="col-12">
        <h3 class=" text-center">{{todaysWeather.summary | uppercase}}</h3>
      </div>
      <div class="col-6  text-muted" id="right-border">
        <h4 class="text-right">HUMIDITY</h4>
        <h4 class="text-right mr-4">{{todaysWeather.humidity*100 | number : '1.0-0'}}%</h4>
      </div>
      <div class="col-6 text-muted ">
        <h4 class="text-left">WIND</h4>
        <h5 class="text-left ml-0">{{todaysWeather.windSpeed | number : '1.0-0' }}mph</h5>
      </div>
    </div>
  </div>
  <div class="col-md-6 " id="cityName" *ngIf="location && todaysWeather">
    <h1 class="text-center mt-md-5 mt-sm-1" id="cityName">{{location.city}}, MN</h1>
    <hr>
  </div>
</div> 