@import "../../../styles/variables.scss";

.form-control-lg {
    background-color: inherit;
    font-weight: bold;
    color: black;
    border:none;
    border-bottom: 1px solid $navbar-bg-color;
    margin-top: 1em;
    margin-bottom: 1em;
    

    
}