
@import "../../../styles/variables";

.navbar-dark .navbar-nav .nav-link.active-link {
    color: rgba(255,255,255,1);
}

#nav-name {
    color: rgba(255,255,255,.8);
}
#nav-date {
    color: rgba(255,255,255,1);
    // margin-right: 3em;
}
