#dashboard-container {
    // border: 10px solid black;
    border-radius: 30px;
}

.dashboard-components {
    // border: 10px solid red;
    margin:0;
    border-radius: 30px;
    
}

#weekly-forcast {
    overflow: hidden;
}

.col-12 {
    height:400px;
}

