<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <app-search ></app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto" id="dashboard-container">
      <div class="row">
        <div class="col-12 dashboard-components" id="weather-component">
          <app-weather ></app-weather>
        </div>
        <div class="col-12 dashboard-components " id="weekly-forcast" >
          <app-weekly-forcast></app-weekly-forcast>
        </div>
        <div class="col-6 dashboard-components">
          <app-twitter></app-twitter>
        </div>
        <div class="col-6 dashboard-components">
          <app-forcast-chart></app-forcast-chart>
        </div>
      </div>
    </div>
  </div>
</div> 