#dashboard-container {
    border: 10px solid black;
    height: 800px;
}

.dashboard-components {
    border: 10px solid red;
    margin:0;

    
}

.col-12 {
    height:400px;
}

.col-8{
    height: 400px;
}

.col-4{
    height: 400px;
}