/* You can add global styles to this file, and also import other style files */
@import "../styles/variables";
@import "../../node_modules/ngx-toastr/toastr.css";

// DEFINING GLOBAL FONTS
@font-face {font-family: bebasNeueBold; src: url('../assets/fonts/BebasNeue-Bold.otf') format("opentype");}
@font-face {font-family: bebasNeuerRegular; src: url('../assets/fonts/BebasNeue-Regular.otf') format("opentype");}
@font-face {font-family: bebasNeuerLight; src: url('../assets/fonts/BebasNeue-Light.otf') format("opentype");}
@font-face {font-family: montserratBold; src: url('../assets/fonts/Montserrat-Bold.otf') format("opentype");}
@font-face {font-family: montserratLight; src: url('../assets/fonts/Montserrat-Light.otf') format("opentype");}
@font-face {font-family: montserratMedium; src: url('../assets/fonts/Montserrat-Medium.otf') format("opentype");}
@font-face {font-family: montserratSemiBold; src: url('../assets/fonts/Montserrat-SemiBold.otf') format("opentype");}



html, body { height: 100%; };


// STYLE FOR THE SEARCH BAR!
.form-control-borderless {
    border: none;
}

// STYLE FOR THE SEARCH BAR!
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#searchInput {
    font-family: montserratLight
}

//resizes the weather icons on weekly-forcast component
.skycons__canvas {
    width: inherit;
}


