<div class="container">
  
  <div class="row justify-content-center my-md-2">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm" [formGroup]="searchForm" (submit)="onSubmit()">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
          <fa-icon [icon]="faMapMarkedAlt" style="font-size: x-large"></fa-icon >
          </div>
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="text"
              placeholder="Search for city by zipcode" formControlName="search" id="searchInput">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
  </div>

  <div class="row" *ngFor="let city of cities; let i = index">
    <div class="col-md-12 my-5">
      <div class="card user-card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h1 class="ml-5"> F</h1>
              <p class="text-muted">Rainy with a chance of meatballs</p>
            </div>
            <div class="col-md-8">
              <h1 class="text-right">{{city.city}}, {{city.state}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-outline-success btn-lg  ml-5" (click)="onView(i)"><fa-icon [icon]="faEye"></fa-icon > View</button>
            </div>

            <div class="col-md-6  text-right">
              <button class="btn btn-outline-danger btn-lg " (click)="onDeleteCity(i)"><fa-icon [icon]="faTrashAlt"></fa-icon > Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>