@import "../../../styles/variables.scss";
$colors: #ffcc80, #9fa8da, #e0e0e0, #ffcc80, #212529;



.card {

    border-radius: 20px;

    h1 {
        font-size: 60px;
        font-family: montserratSemiBold;
       
    }

    button {
        font-family: montserratMedium;
    }
}

// @for $i from 1 through 3 {

//     .row

//     li:nth-child(#{length($colors)}n+#{$i}) {
//         background: lighten(nth($colors, random(length($colors))), 20%);
//     }
// }


// #ffcc80
// #9fa8da
// #e0e0e0
// #ffcc80
// #212529