@import "../../../styles/variables.scss";
$colors: #ffcc80, #9fa8da, #e0e0e0, #ffcc80, #212529;



.card {

    border-radius: 20px;

    h1 {
        font-size: 60px;
        font-family: montserratSemiBold;
       
    }

    button {
        font-family: montserratMedium;
    }
}

@media only screen and (max-width: 385px) {

    .card {

        button {
            margin-bottom: 5px;
        }
    
        h1 {
            font-size: 40px;
           
        }
    }
}