@import "../../../styles/variables";

.card {
    border: none;
    .card-body {
        padding: 2em;
    }
}

.row {
    height: 760px;
}

#signup-background {
    background-image: url('../../../assets/images/login-photo-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2px;
    height: 100%;
}

