<div class="container  my-md-4 my-xs-0">
  <div class="row">
    <div class="col-md-6" id="signup-background">
    </div>
    <div class="col-md-6 my-md-auto m-xs-0" id="signup-with-background">
      <div class="card m-xs-0 ">
        <div class="card-body">
          <h1 class="card-title mb-5">Signup</h1>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input class="form-control form-control-lg " type="email" placeholder="First Name"
                  formControlName="email">
              </div>

              <div class="form-group col-md-6">
                <input class="form-control form-control-lg " type="email" placeholder="Last Name"
                  formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password"
                formControlName="password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>