<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
          <div class="card-header text-center">
            <img src="../../../assets/images/logo1.png" alt="">
            <h1 id="logo">Signup</h1>
          </div>
          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-row ">
                    <div class="col-sm-6 my-1 mx-auto">
                      <div class="">
                        <input 
                        type="text" 
                        class="form-control "
                        placeholder="First Name"
                        formControlName="firstName"
                         >
                      </div>
                    </div>
                    <div class="col-sm-6 my-1 mx-auto">
                      <div class="">
                        <input 
                        type="text"
                         class="form-control " 
                         placeholder="Last Name"
                         formControlName="lastName"
                         >
                      </div>
                    </div>
                </div>
                <div class="form-row ">
                  <div class="col-sm-6 my-1 mx-auto">
                    <div class="">
                      <input 
                      type="email" 
                      class="form-control form-control-lg" 
                      placeholder="Enter Email"
                      formControlName="email"
                      >
                    </div>
                  </div>
                  </div>
                <div class="form-row ">
                  <div class="col-sm-6 my-1 mx-auto">
                    <div class="">
                      <input 
                      type="password" 
                      class="form-control form-control-lg" 
                      placeholder="Enter Password"
                      formControlName="password"
                      >
                    </div>
                  </div>
                  </div>
                  <div class="form-row">
                    <div class="col-sm-6 my-1 mx-auto">
                        <button
                        type="submit" 
                        class="btn btn-dark btn-lg btn-block"
                        >Submit</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
  </div>
</div>
</div> -->

<div class="container mt-3 my-4">
  <div class="row">
    <div class="col-md-6" id="signup-background">
    </div>
    <div class="col-md-6 my-auto">
      <div class="card my-auto text-center">
        <div class="card-body">
          <h1 class="card-title mb-5">Signup</h1>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

            <div class="form-row">

                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg " type="email" placeholder="First Name"
                    formControlName="email">
                </div>

              <!-- <div class="col-md-2"></div> -->

                <div class="form-group col-md-6">
                  <input class="form-control form-control-lg " type="email" placeholder="Last Name"
                    formControlName="email">
                </div>

            </div>

            <div class="form-group">
              <input class="form-control form-control-lg" type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password"
                formControlName="password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>