.card {
    background: transparent;
    margin:0;
    padding:0;
    max-width: 200px;


    border: 1px solid orange;

    h4 {
        font-size: 1em;
    }
}


.weather-icons {
    // border: 1px solid green;
    padding: 0;
    margin: 0;
}