<div class="row" >
  <div class="col-md-2 col-md-2 card-column" *ngFor="let card of weeklyForcastData; index as i">
    <div class="card d-md-inline-block ">
      <div class="card-body px-0">
       <sc-skycons class='weather-icons p-0' [weather]="card.icon" [color]="'black'"></sc-skycons>
        <h1 class="text-right ">{{card.day}}</h1>
        <h3 class="text-right">{{card.tempHigh | number : '1.0-0'}}°F</h3>
        <h4 class="text-muted text-center">{{card.summary}}</h4>
      </div>
    </div>
  </div>
</div>  